<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head') -%>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  <body>
    <%- include('layouts/nav') -%>
    <main>
      <a href="/forex">&#x2190; Go Back</a>
      <h1><%- currency %></h1>
      <canvas id="currHistCanv">
        <div id="statistics" data-dates='<%-JSON.stringify(dates)%>' data-rates="<%-JSON.stringify(rates)%>"></div>
      </canvas>
      <script src="/js/currencyChart.js"></script>
    </main>
    <%- include('layouts/footer') -%>
  </body>
</html>
